In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf


#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# droping one additional column
# Drop the non-beneficial ID columns, 'EIN' and 'NAME' and 'STATUS'
application_df= application_df.drop(columns=['EIN','NAME',"STATUS"])

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ["T9","T13","T12","T2","T25","T14","T29","T15","T17"]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_binning = application_df["CLASSIFICATION"].value_counts()
classification_binning

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
# application_df["CLASSIFICATION"].value_counts()[application_df["CLASSIFICATION"].value_counts()>1]
classification_binning[classification_binning>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_binning[classification_binning<800].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 43 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ASK_AMT                       34299 non-null  int64
 1   IS_SUCCESSFUL                 34299 non-null  int64
 2   APPLICATION_TYPE_Other        34299 non-null  uint8
 3   APPLICATION_TYPE_T10          34299 non-null  uint8
 4   APPLICATION_TYPE_T19          34299 non-null  uint8
 5   APPLICATION_TYPE_T3           34299 non-null  uint8
 6   APPLICATION_TYPE_T4           34299 non-null  uint8
 7   APPLICATION_TYPE_T5           34299 non-null  uint8
 8   APPLICATION_TYPE_T6           34299 non-null  uint8
 9   APPLICATION_TYPE_T7           34299 non-null  uint8
 10  APPLICATION_TYPE_T8           34299 non-null  uint8
 11  AFFILIATION_CompanySponsored  34299 non-null  uint8
 12  AFFILIATION_Family/Parent     34299 non-null  uint8
 13  AFFILIATION_Independent       34299 non-null  uint8
 14  AFFILIATION_National          34299 non-null  uint8
 15  AFFILIATION_Other             34299 non-null  uint8
 16  AFFILIATION_Regional          34299 non-null  uint8
 17  CLASSIFICATION_C1000          34299 non-null  uint8
 18  CLASSIFICATION_C1200          34299 non-null  uint8
 19  CLASSIFICATION_C2000          34299 non-null  uint8
 20  CLASSIFICATION_C2100          34299 non-null  uint8
 21  CLASSIFICATION_C3000          34299 non-null  uint8
 22  CLASSIFICATION_Other          34299 non-null  uint8
 23  USE_CASE_CommunityServ        34299 non-null  uint8
 24  USE_CASE_Heathcare            34299 non-null  uint8
 25  USE_CASE_Other                34299 non-null  uint8
 26  USE_CASE_Preservation         34299 non-null  uint8
 27  USE_CASE_ProductDev           34299 non-null  uint8
 28  ORGANIZATION_Association      34299 non-null  uint8
 29  ORGANIZATION_Co-operative     34299 non-null  uint8
 30  ORGANIZATION_Corporation      34299 non-null  uint8
 31  ORGANIZATION_Trust            34299 non-null  uint8
 32  INCOME_AMT_0                  34299 non-null  uint8
 33  INCOME_AMT_1-9999             34299 non-null  uint8
 34  INCOME_AMT_10000-24999        34299 non-null  uint8
 35  INCOME_AMT_100000-499999      34299 non-null  uint8
 36  INCOME_AMT_10M-50M            34299 non-null  uint8
 37  INCOME_AMT_1M-5M              34299 non-null  uint8
 38  INCOME_AMT_25000-99999        34299 non-null  uint8
 39  INCOME_AMT_50M+               34299 non-null  uint8
 40  INCOME_AMT_5M-10M             34299 non-null  uint8
 41  SPECIAL_CONSIDERATIONS_N      34299 non-null  uint8
 42  SPECIAL_CONSIDERATIONS_Y      34299 non-null  uint8
dtypes: int64(2), uint8(41)
memory usage: 1.9 MB

In [10]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(columns = "IS_SUCCESSFUL")
y = application_df["IS_SUCCESSFUL"]
# Split the preprocessed data into a training and testing dataset
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state = 1)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# input_dim will change to 42 as we have dropped one additional column

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=16,input_dim = 42,activation = "softmax"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units =5,activation = "relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units = 1 , activation = "sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                688

 dense_1 (Dense)             (None, 5)                 85

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 779 (3.04 KB)
Trainable params: 779 (3.04 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=5)

Epoch 1/5
804/804 [==============================] - 3s 2ms/step - loss: 0.6212 - accuracy: 0.6800
Epoch 2/5
804/804 [==============================] - 2s 2ms/step - loss: 0.5610 - accuracy: 0.7291
Epoch 3/5
804/804 [==============================] - 2s 2ms/step - loss: 0.5560 - accuracy: 0.7318
Epoch 4/5
804/804 [==============================] - 2s 2ms/step - loss: 0.5537 - accuracy: 0.7311
Epoch 5/5
804/804 [==============================] - 2s 2ms/step - loss: 0.5522 - accuracy: 0.7324

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5557 - accuracy: 0.7276 - 678ms/epoch - 3ms/step
Loss: 0.5557492971420288, Accuracy: 0.727580189704895

In [16]:
application_df.isnull().sum()

ASK_AMT                         0
IS_SUCCESSFUL                   0
APPLICATION_TYPE_Other          0
APPLICATION_TYPE_T10            0
APPLICATION_TYPE_T19            0
APPLICATION_TYPE_T3             0
APPLICATION_TYPE_T4             0
APPLICATION_TYPE_T5             0
APPLICATION_TYPE_T6             0
APPLICATION_TYPE_T7             0
APPLICATION_TYPE_T8             0
AFFILIATION_CompanySponsored    0
AFFILIATION_Family/Parent       0
AFFILIATION_Independent         0
AFFILIATION_National            0
AFFILIATION_Other               0
AFFILIATION_Regional            0
CLASSIFICATION_C1000            0
CLASSIFICATION_C1200            0
CLASSIFICATION_C2000            0
CLASSIFICATION_C2100            0
CLASSIFICATION_C3000            0
CLASSIFICATION_Other            0
USE_CASE_CommunityServ          0
USE_CASE_Heathcare              0
USE_CASE_Other                  0
USE_CASE_Preservation           0
USE_CASE_ProductDev             0
ORGANIZATION_Association        0
ORGANIZATION_Co-operative       0
ORGANIZATION_Corporation        0
ORGANIZATION_Trust              0
INCOME_AMT_0                    0
INCOME_AMT_1-9999               0
INCOME_AMT_10000-24999          0
INCOME_AMT_100000-499999        0
INCOME_AMT_10M-50M              0
INCOME_AMT_1M-5M                0
INCOME_AMT_25000-99999          0
INCOME_AMT_50M+                 0
INCOME_AMT_5M-10M               0
SPECIAL_CONSIDERATIONS_N        0
SPECIAL_CONSIDERATIONS_Y        0
dtype: int64

In [17]:
# Define the  a  second model with increased numbers of hidden layers- deep neural net, i.e., the number of input features and hidden nodes for each layer.
# input_dim will change to 42 as we have dropped one additional column

nn_2  = tf.keras.models.Sequential()

# First hidden layer
nn_2.add(tf.keras.layers.Dense(units=16,input_dim = 42,activation = "sigmoid"))

# Second hidden layer
nn_2.add(tf.keras.layers.Dense(units =12,activation = "sigmoid"))

#third hidden layer
nn_2.add(tf.keras.layers.Dense(units =14,activation = "sigmoid"))

# fourth hidden layer 
nn_2.add(tf.keras.layers.Dense(units = 5,activation = "sigmoid"))
# Output layer
nn_2.add(tf.keras.layers.Dense(units = 1 , activation = "sigmoid"))

# Check the structure of the model
nn_2.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 16)                688

 dense_4 (Dense)             (None, 12)                204

 dense_5 (Dense)             (None, 14)                182

 dense_6 (Dense)             (None, 5)                 75

 dense_7 (Dense)             (None, 1)                 6

=================================================================
Total params: 1155 (4.51 KB)
Trainable params: 1155 (4.51 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [18]:
# Compile the model
nn_2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [19]:
# Train the model
fit_model_2 = nn_2.fit(X_train_scaled, y_train, epochs=5)

Epoch 1/5
804/804 [==============================] - 3s 3ms/step - loss: 0.6492 - accuracy: 0.6286
Epoch 2/5
804/804 [==============================] - 2s 3ms/step - loss: 0.5770 - accuracy: 0.7292
Epoch 3/5
804/804 [==============================] - 2s 3ms/step - loss: 0.5746 - accuracy: 0.7289
Epoch 4/5
804/804 [==============================] - 2s 3ms/step - loss: 0.5734 - accuracy: 0.7303
Epoch 5/5
804/804 [==============================] - 2s 3ms/step - loss: 0.5721 - accuracy: 0.7311

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_2.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5737 - accuracy: 0.7308 - 579ms/epoch - 2ms/step
Loss: 0.5736634731292725, Accuracy: 0.7308454513549805

In [21]:
# increase the number of epochs to 20
fit_model_2 = nn_2.fit(X_train_scaled, y_train, epochs=20)

Epoch 1/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5709 - accuracy: 0.7296
Epoch 2/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5685 - accuracy: 0.7297
Epoch 3/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5652 - accuracy: 0.7307
Epoch 4/20
804/804 [==============================] - 3s 4ms/step - loss: 0.5622 - accuracy: 0.7306
Epoch 5/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5599 - accuracy: 0.7301
Epoch 6/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5585 - accuracy: 0.7308
Epoch 7/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5573 - accuracy: 0.7310
Epoch 8/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5569 - accuracy: 0.7308
Epoch 9/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5560 - accuracy: 0.7307
Epoch 10/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5550 - accuracy: 0.7320
Epoch 11/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5544 - accuracy: 0.7325
Epoch 12/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5536 - accuracy: 0.7322
Epoch 13/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5533 - accuracy: 0.7322
Epoch 14/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5527 - accuracy: 0.7327
Epoch 15/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5522 - accuracy: 0.7329
Epoch 16/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5515 - accuracy: 0.7324
Epoch 17/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5512 - accuracy: 0.7331
Epoch 18/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5509 - accuracy: 0.7328
Epoch 19/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5505 - accuracy: 0.7326
Epoch 20/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5502 - accuracy: 0.7327

In [22]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_2.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5542 - accuracy: 0.7296 - 457ms/epoch - 2ms/step
Loss: 0.5542472004890442, Accuracy: 0.7295626997947693

In [23]:
nn_2.save('AlphabetSoupCharity_Optimization.h5')

C:\Users\user\anaconda3\lib\site-packages\keras\src\engine\training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(